//
	div(class="loader-hold", ng-class="{isready: isready, isdone: isdone}")
div(class="devint")
	header(id="devint-head", ng-class="{isready: isready, isdone: isdone}")
		h1 devinteractive.net
	div(class="start")
		//
			p(id="get-start", class="start", ng-class="{isready: isready}")
		p(class="start", ng-class="{isready: isready}")
			//
				span xp
			a(href="/app/jobs", id="goto-jobs-view")
				i(class="fa fa-image")
		p(class="start", ng-class="{isready: isready}")
			//
				span cv
			a(href="/app/experience", id="goto-cv-view")
				i(class="fa fa-file")
			
