!!!
html(ng-app="DevInt")
  head
    meta(charset='utf8')
    base(href='/')
    title Dev Interactive
    link(rel='stylesheet', href='/dist/css/font-awesome.min.css')
    link(rel='stylesheet', href='/dist/css/bootstrap.3.3.4.css')
    //
        link(rel='stylesheet', href='bower_components/angular-carousel/dist/angular-carousel.min.css')
    //
        link(rel='stylesheet', href='bower_components/angular-loading-bar-master/build/loading-bar.min.css')
    link(rel='stylesheet', href=' bower_components/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/dist/css/main.css')
  body
    block body